*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
}

.header {
    background-color: #fff;
    color: #000;
    padding: 20px;
}

.img{
    width: 50%;
    height: 50%;
}