@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #353535;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.header {
    background-color: #222;
    color: #fff;
    padding: 20px 70px;
    font-weight: 600;
}

main{
    margin: 50px 100px;
    width: 50%;
    float: left;
}

aside{
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

main .user{
    margin-bottom: 50px;
    background-color: pink;
    padding: 20px;
    border-radius: 15px;
}